.expireContainer{
    align-self: flex-start;
    margin-top: 5%;
}
.expireContainer::before{
    content: "items near expiry/expired";
    padding: 0.2rem 0;
    display: block;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2%;
    color:#284982 ;
    text-align: center;
}
.expireContainer p{
    text-align: center;

}
