.profileContainer img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}
input[type="file"]{
    display: none;
}
.profileContainer .profileimageContainer label{
    position: absolute;
    right: 35%;
    top: 43%;
}
.profileContainer{
    border: 1px solid red;
    align-self: flex-start;
    padding: 1rem;
    margin-top: 5%;
}
.editButton{
    color:green;
}
.profileContainer button{
    padding: 0.2rem;
    text-transform: capitalize;
    color: red;
    margin-top: 8%;
}
.profileContainer > label{
    text-transform: capitalize;
    margin: 3% 0;
    border: 1px solid blue;
    display: inline-block;
    font-weight: 600;
}

