/*
====================
7 */
.reports_container{
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    width: 80%;
}
table{
    width: fit-content;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px dotted var(--pri-color);
}
th{
    border: 1px dotted var(--pri-color);
    text-transform: capitalize;
    padding: 0.3rem;
    letter-spacing: var(--letter-space);
    color: var(--theme-color);
}
.report_titles{
    margin-top: 5%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: var(--letter-space);
    margin: 2rem;
    font-size: 1.2rem;
}
tr:nth-child(even){
    background: var(--shade);
}
td{
    height: 2rem;
    font-size: 0.8rem;
    letter-spacing: var(--letter-space);
    text-transform: capitalize;
    color: var(--pri-color);
}

