/*
====================
7 */
.reportContainer{
    display:flex;
    flex-wrap: wrap;
    margin: 3% ;
    align-self: flex-start;
    width: 100%;
}
.reportContainer a{
    border: 0.14rem solid var(--sidebartextColor);
    height:9rem;
    width: 9rem;
    margin: 1%;
    object-fit: cover;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    z-index: 8;
    text-transform: capitalize;
    padding: 0.2rem;
    font-weight: 600;
    font-size: 0.8rem;
}
.reportContainer a:hover{
    transform: scale(1.1,1.1);
    box-shadow: 2px 5px 6px var(--sidebartextColor);
}
.reportContainer > a > img{
    height: 100px;
    width: 100px;
    margin: 2%;
}
.reportsContainer{
    align-self: flex-start;
    margin-top: 5%;
    overflow: auto;
}
.reportsContainer > p{
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2%;
    color:#284982 ;
}
.reportsContainer > span{
    text-align: center;
    display: block;
    border: 1px dotted var(--sidebartextColor);
    text-transform: capitalize;
    margin-top: 20%;
}


